<a href="https://colab.research.google.com/github/ivangiangreco/tmp/blob/main/%5BData_Modeling_and_Database_Systems%5D_ACME_DB_SQL_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

University of Lucerne

Data Modeling and Database Systems

# Exercises - Reverse Engineering - Solutions

## 1. Preparation

We start by setting up a connection to our ACME database, acme.db.

In [ ]:
# download SQLite DB
!wget https://unilu-dmdb.github.io/data/acme.db

In [ ]:
# load the SQL magic extension
# https://github.com/catherinedevlin/ipython-sql
# this extension allows us to connect to DBs and issue SQL command
%load_ext sql

# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
# use %%sql to write SQL commands in a cell
%sql sqlite:///acme.db

For this exercise, we're utilizing SQLite 3. It's a compact and rapid relational database engine. SQLite databases are self-contained: each one resides in just a single file. Surprisingly, SQLite stands as the most utilized database engine globally. It's integrated into countless mobile devices (like Android or iOS phones) and serves as the backbone for storing data in numerous popular applications.

## 2. Exercises

What tables are present?

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';

What is their structure? What does some exemplary data look like?

In [ ]:
%sql PRAGMA table_info([company]);

In [ ]:
%%sql
SELECT *
FROM company
LIMIT 5

In [ ]:
%sql PRAGMA table_info([customers]);

In [ ]:
%%sql
SELECT *
FROM customers
LIMIT 5

In [ ]:
%sql PRAGMA table_info([dates]);

In [ ]:
%%sql
SELECT *
FROM dates
LIMIT 5

In [ ]:
%sql PRAGMA table_info([dayofweek]);

In [ ]:
%%sql
SELECT *
FROM dayofweek
LIMIT 5

In [ ]:
%sql PRAGMA table_info([invoice]);

In [ ]:
%%sql
SELECT *
FROM invoice
LIMIT 5

In [ ]:
%sql PRAGMA table_info([marketing]);

In [ ]:
%%sql
SELECT *
FROM marketing
LIMIT 5

In [ ]:
%sql PRAGMA table_info([orders2]);

In [ ]:
%%sql
SELECT *
FROM orders2
LIMIT 5

In [ ]:
%sql PRAGMA table_info([price]);

In [ ]:
%%sql
SELECT *
FROM price
LIMIT 5