<a href="https://colab.research.google.com/github/UniLu-DMDB/UniLu-DMDB.github.io/blob/main/%5BData_Modeling_and_Database_Systems%5D_Accessing_your_Google_Cloud_SQL_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

University of Lucerne

Data Modeling and Database Systems

# Accessing your Google Cloud SQL database

for Google-hosted instances, get the IP and add it to the authorized networks

In [ ]:
!curl ipecho.net/plain

In [ ]:
# initialize parameters
DB_URL = "" # public IP address of your instance
DB_USER = "postgres"
DB_PASS = "postgres"
DB_NAME = "postgres"
DB_PORT = 5432

install and import packages

In [ ]:
import sys
!{sys.executable} -m pip install cloud-sql-python-connector["pg8000"] SQLAlchemy==2.0.7

In [ ]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, text as sql_text

In [ ]:
url = sqlalchemy.engine.url.URL.create(
            drivername="postgresql+pg8000",
            username=DB_USER,
            password=DB_PASS,
            host=DB_URL,
            port=DB_PORT,
            database=DB_NAME,
        )

engine = sqlalchemy.create_engine(url)

**Option A: print the rows**

In [ ]:
with engine.connect() as db_conn:
  results = db_conn.execute(sqlalchemy.text("SELECT * FROM students")).fetchall()

  for row in results:
    print(row)

**Option B: get a pandas dataframe**

In [ ]:
pd.read_sql_query(con=engine.connect(), sql=sql_text("SELECT * FROM Students"))

**Option C: use colab magic**

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://$DB_USER:$DB_PASS@$DB_URL:$DB_PORT/$DB_NAME

In [ ]:
%%sql
SELECT *
FROM students

In [ ]:
query = %sql SELECT * FROM students;
df = pd.DataFrame(query)
df