<a href="https://colab.research.google.com/github/UniLu-DMDB/UniLu-DMDB.github.io/blob/main/%5BData_Modeling_and_Database_Systems%5D_CyclingDB_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

University of Lucerne

Data Modeling and Database Systems

# Exercises - CyclingDB - SQL

## 1. Preparation

We start by setting up a connection to our Parliament database, Parliament.db.

In [1]:
# download SQLite DB
!wget https://unilu-dmdb.github.io/data/cycling.db

In [2]:
# load the SQL magic extension
# https://github.com/catherinedevlin/ipython-sql
# this extension allows us to connect to DBs and issue SQL command
%load_ext sql

# now we can use the magic extension to connect to our SQLite DB
# use %sql to write an inline SQL command
# use %%sql to write SQL commands in a cell
%sql sqlite:///cycling.db

## 2. Exercises

Fill in the solutions and compare them to the results shown. If you want to see how to get to the results, click on "Show code" below the title "Solution".

### What are the names of all cyclists of the Lucerne 'Lucerne Lake Loop' 2024?

In [ ]:
%%sql
<<YOUR SOLUTION>>

In [3]:
#@title Solution
%%sql
SELECT name
FROM Cyclist c
INNER JOIN StartingList sl USING (CID)
INNER JOIN CyclingEvent ce USING (EvID)
WHERE ce.EventName = 'Lucerne Lake Loop'
AND ce.Year = '2024'

 * sqlite:///cycling.db
Done.

[('Cuckoo Clock Carl',), ('Hearty Helga',)]

### At which cycling events (return only the name) has 'Chocolate Charlie' participated so far? Note that the event should only appear once in the result list (even if the person participated to multiple tours of the event).

In [ ]:
%%sql
<<YOUR SOLUTION>>

In [4]:
#@title Solution
%%sql
SELECT DISTINCT EventName
FROM CyclingEvent ce
INNER JOIN StartingList sl USING (EvID)
INNER JOIN Cyclist c USING (CID)
WHERE name = 'Chocolate Charlie'

 * sqlite:///cycling.db
Done.

[('Lucerne Fun Ride',), ('Alps Adventure Tour',)]

### Which sponsors of the 'Lucerne Fun Ride' taking place in 2024 sponsored more than Fr. 10.-?

In [ ]:
%%sql
<<YOUR SOLUTION>>

In [5]:
#@title Solution
%%sql
SELECT SponsorName
FROM Sponsor s
INNER JOIN CyclingEvent ce ON (s.EvID = ce.EvID)
WHERE ce.EventName = 'Lucerne Fun Ride' AND ce.Year = '2024' AND s.AmountCHF >= 10

 * sqlite:///cycling.db
Done.

[('Swiss Chocolate Co.',)]

### Return the top 3 locations by number of cycling events taking place at the given location.

In [ ]:
%%sql
<<YOUR SOLUTION>>

In [6]:
#@title Solution
%%sql
SELECT Location
FROM CyclingEvent ce
INNER JOIN StartingList sl ON (sl.EvID = ce.EvID)
GROUP BY Location
ORDER BY COUNT(StartNumber) DESC
LIMIT 3

 * sqlite:///cycling.db
Done.

[('Lucerne',), ('Zurich',), ('Interlaken',)]

### Return the number of cyclists for the cycling event 'Rhine Valley Ride' that took place in Zurich in 2024.

In [ ]:
%%sql
<<YOUR SOLUTION>>

In [8]:
#@title Solution
%%sql
SELECT COUNT(StartNumber) AS c
FROM CyclingEvent ce
INNER JOIN StartingList sl ON (sl.EvID = ce.EvID)
WHERE EventName = 'Rhine Valley Ride' AND Location = 'Zurich' AND Year = '2024'

 * sqlite:///cycling.db
Done.

[(5,)]

### List all distinct cyclist’s name who participated to a cycling event in 2024, but did not end the cycling tour, i.e., there is no result?

In [ ]:
%%sql
<<YOUR SOLUTION>>

In [10]:
#@title Solution
%%sql
SELECT DISTINCT name
FROM Cyclist c
INNER JOIN StartingList sl ON (c.CID = sl.CID)
INNER JOIN CyclingEvent ce ON (ce.EvID = sl.EvID)
WHERE ce.Year = '2024'
AND NOT EXISTS (SELECT * FROM Results r WHERE r.StartNumber = sl.StartNumber)

 * sqlite:///cycling.db
Done.

[('Cheesehead Chloe',), ('Fondue Fiona',)]